@model Textroad.Models.JournalVersionDetailsViewModel

@{
    ViewBag.Title = Resources.Administration.JournalVersionDetails;
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="modal-header">
    <div class="widget-buttons pull-right">
        <a href="javascript:void(0);" onclick="popupExpand(this)" data-toggle="maximize">
            <i class="fa fa-expand"></i>
        </a>
        <a href="javascript:void(0);" ng-click="cancel()" data-toggle="dispose">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <h2 class="modal-title">@Resources.Administration.JournalVersionDetails</h2>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body withVScroll">
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.JournalName, Resources.Administration.JournalName, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.JournalName ?? " ")</label>
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.JournalVolumeTypeName, Resources.Administration.JournalVolumeTypeName, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.JournalVolumeTypeName ?? " ")</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.VersionNumber, Resources.Administration.VersionNumber, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.VersionNumber.ToString() ?? " ")</label>
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.IssueNumber, Resources.Administration.IssueNumber, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.IssueNumber.ToString() ?? " ")</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.IssueName, Resources.Administration.IssueName, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.IssueName ?? " ")</label>
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.IssueDate_Str, Resources.Administration.IssueDate, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.IssueDate_Str ?? " ")</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.NoView, Resources.Administration.NoView, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.NoView.ToString() ?? " ")</label>
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.Block, Resources.Resource.Block, htmlAttributes: new { @class = "text-info" })
                <label class="form-control">@(Model.Block ?? " ")</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.CreateUser_FullName, Resources.Resource.CreateUserFullNameEn, htmlAttributes: new { @class = "text-info" })
                @Html.Label(Model.CreateUser_FullName ?? " ", new { @class = "form-control" })
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.CreateDate, Resources.Resource.CreateDateTime, htmlAttributes: new { @class = "text-info" })
                @Html.Label(Model.CreateDate.ToString(Classes.Common.Constant.DateTimeFormat), new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.ModifyUser_FullName, Resources.Resource.ModifyUserFullNameEn, htmlAttributes: new { @class = "text-info" })
                @Html.Label(Model.ModifyUser_FullName ?? " ", new { @class = "form-control" })
            </div>
            <div class="col-xs-6 form-group">
                @Html.LabelFor(model => model.ModifyDate, Resources.Resource.ModifyDateTime, htmlAttributes: new { @class = "text-info" })
                @Html.Label(Model.ModifyDate != null ? ((DateTime)Model.ModifyDate).ToString(Classes.Common.Constant.DateTimeFormat) : "", new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="cancel()">@Resources.Resource.ButtonOk</button>
    </div>
}
